version: 1

structlog:
  processors:
    - structlog.contextvars.merge_contextvars
    - structlog.processors.add_log_level
    - structlog.processors.StackInfoRenderer
    - structlog.dev.set_exc_info
    - structlog.processors.TimeStamper(fmt="iso")

  renderers:
    development:
      factory: structlog.dev.ConsoleRenderer
      options:
        colors: true
    production:
      factory: structlog.processors.JSONRenderer

  wrapper_class: structlog.make_filtering_bound_logger

  log_levels:
    development: DEBUG
    production: INFO
    testing: WARNING
